BOT_TOKEN=
API_URL=http://127.0.0.1:4100

# Telegram Mini App uchun keyinchalik HTTPS manzil yoziladi.
MINI_APP_URL=
MANDATORY_CHANNEL_ID=
TELEGRAM_CHANNEL_URL=
YOUTUBE_URL=
INSTAGRAM_URL=
TWITCH_URL=
